.login {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.register {
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}

.bigcontainer {
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
}

.bigcontainerLogin {
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
}

.contentcontainer {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 60%;
}

.contentcontainerLogin {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 27%;
}

.login-right h1, .signup-right h1 {
    font-weight: bolder;
    padding: 5px 0 15px 0;
    border-bottom: 5px solid #EBD7BD;
}

.login-left h4, .signup-left h4 {
    font-weight: bold;
}


.login-left, .login-right, .signup-left, .signup-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 95vh;
}

.signup-right {
    padding-left: 15rem;
}

.login-right {
    padding-left: 10rem;
}

.form-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form label {
    color: #040514 !important;
  }

form input::placeholder {
  font-size: 12px;
  letter-spacing: 0.5px;
}
form input {
    border-radius: 4px;
    height: 2rem;
    width: 18rem;
}

