:root {
    --colorShadeZ: rgb(243, 142, 33);
    --colorShadeX: rgb(255, 194, 38);
    --colorShadeY: rgb(252, 192, 63);
    --colorShadeW: rgb(255, 166, 83);
    --colorShadeV: rgb(225, 144, 68);
  }
 
  
  @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
  * {
    box-sizing: border-box;
  }
  *::before, *::after {
    box-sizing: border-box;
  }

  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1.5rem;
      color:var(--colorShadeZ);
    font-weight: 700;
    font-family: inherit;
  }
  
  button.big-button-1 {
     padding: 1em 2em;
     border: 2px solid var(--colorShadeZ);
    border-radius: 1em;
    background: var(--colorShadeV);
  transform-style: preserve-3d;
     transition: all 175ms cubic-bezier(0, 0, 1, 1);
  }

  button.big-button-1::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--colorShadeY);
    border-radius: inherit;
      box-shadow: 0 0 0 2px var(--colorShadeX), 0 0.75em 0 0 var(--colorShadeZ);
   transform: translate3d(0, 0.75em, -1em);
       transition: all 175ms cubic-bezier(0, 0, 1, 1);
  }
  
  
  button.big-button-1:hover {
    background: var(--colorShadeW);
    transform: translate(0, 0.375em);
  }
  
  button.big-button-1:hover::before {
    transform: translate3d(0, 0.75em, -1em);
  }
  
  button.big-button-1:active {
              transform: translate(0em, 0.75em);
  }
  
  button.big-button-1:active::before {
    transform: translate3d(0, 0, -1em);
    
        box-shadow: 0 0 0 2px var(--colorShadeX), 0 0.25em 0 0 var(--colorShadeX);
  
  }






* {
    color:black;
    
}
.question-section{
    margin-top: 5%;
    padding-top: 20%;
    padding-bottom: 5%;
}
.score-results{
    padding-top: 7%;
    padding-bottom: 5%;
}

.Quiz{
    height: 30vh;
    
}
button{
    color:white !important;
    margin: 3%;
    border-radius: 10%; 
}

.bigcontainerQuiz {
    position: fixed;
    width: 100%;
    top: 0;
    height: 100%;
    
}

.contentcontainerQuiz {
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
}


.tunes {
  border: 15px solid #d4bd9e;
  border-radius: 10px;
}


