* {
    color:black;
    
}
.question-section{
    margin-top: 5%;
    padding-top: 20%;
    padding-bottom: 5%;
}
.score-results{
    padding-top: 20%;
    padding-bottom: 5%;
}

.Quiz{
    height: 30vh;
    
}
button{
    background-color:grey ;
    color:white !important;
    margin: 3%;
    border-radius: 10%; 
}

.bigcontainerQuiz {
    position: fixed;
    width: 100%;
    top: 0;
    height: 100%;
    
}

.contentcontainerQuiz {
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
}



